# api
BASE_URL=base_url

# 로그
ENABLE_GENERAL_LOG=true
IS_PRETTY_JSON=true
BASE_URL=https://api.example.com
TIMEOUT=10
MAX_RETRIES=1

LOG_ON_NOTIFIER_ERROR=true
LOG_ON_NOTIFIER_NOTIFIER_EVENT=true

ENABLE_NAVIGATOR_OBSERVER_LOG=true
ENABLE_ERROR_PAGE=false

ENABLE_LOG_NETWORK_EXCEPTION=true
ENABLE_LOG_REQUEST_INFO=true

DEEP_LINK_URL=https://example.com/deeplink
ENABLE_NOTIFICATION_LOG=true
KAKAO_CONTACT_URL=https://contact.kakao.com

# firebase android
FIREBASE_ANDROID_API_KEY=
FIREBASE_ANDROID_APP_ID=

# firebase ios
FIREBASE_IOS_API_KEY=
FIREBASE_IOS_APP_ID=

# common 
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
