# ===============================
#  Git Attributes for Flutter Project
# ===============================

# ------------------------------------
# Gradle Wrapper (gradlew) 파일 설정 (macOS/Linux 개발자용)
# ------------------------------------
gradlew text eol=lf

# ------------------------------------
# Windows Batch Script (.bat) 파일 설정 (Windows 개발자용)
# ------------------------------------
*.bat text eol=crlf

# ------------------------------------
# Dart, YAML, JSON 등의 텍스트 파일 설정
# ------------------------------------
*.dart   text eol=lf
*.yaml   text eol=lf
*.yml    text eol=lf
*.json   text eol=lf
*.md     text eol=lf
*.sh     text eol=lf

# ------------------------------------
# 바이너리 파일 (Binary Files) 설정
# ------------------------------------
*.jar binary

# ------------------------------------
# Flutter 프로젝트에서 사용하는 리소스 파일 설정
# ------------------------------------
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.ttf  binary
*.otf  binary
*.mp4  binary
*.mov  binary
*.zip  binary
*.pdf  binary
