<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtXCmlKUzCliCIxjFTLJ_EekCNSFvVbHs</string>
	<key>GCM_SENDER_ID</key>
	<string>1049288044004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gooemeet.atwoz</string>
	<key>PROJECT_ID</key>
	<string>atwoz-d63ef</string>
	<key>STORAGE_BUCKET</key>
	<string>atwoz-d63ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049288044004:ios:c0b0f3f24e4fd48eac2bf1</string>
</dict>
</plist>